<div><%= @user.user_name %></div>
<div><%= @user.first_name %> <%= @user.last_name %></div>
<div><%= @user.email %></div>

<%= link_to "Home", root_path %>
<%= link_to "All posts by #{@user.first_name}", user_posts_path(@user.id) %>
<%= link_to "Log Out", logout_path %>
